<div>
    <section class="user_info mypage">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  <div class="row mypage">
    <aside class="col-md-4 user_detail">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form mypage">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
</div>
<div class="col-md-8">
  <h3>Micropost Feed</h3>
  <%= render 'shared/feed' %>
</div>
