<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
    <%= link_to user_path(current_user), size: "20*20", target: "_blank" do %>
      <%= image_tag "instaheader.png" , class: 'instaheader'%>
    <% end %>
    <div>
      <input class=serch placeholder="検索">
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "serch",help_path%></li>
        <li><%= link_to "notification",contact_path %></li>
        <li><%= link_to "Profile",about_path%></li>
      </ul>
    </nav>
    <% end %>
  </div>
</header>